body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#00cc00;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#00cc00 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #main{
  float:left;
}

header #main h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:12px;
  margin-bottom: 5px;
}

header .highlight, header .current a{
  color:#00cc00;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#body{
  min-height:400px;
  background:url('showcase.jpg') no-repeat 0 -200px;
  text-align:center;
  color:#ffffff;
}

#body h1{
  margin-top:20px;
  font-size:55px;
  margin-bottom:20px;
}

p.Warning{
  font-size:12px;
}

#body2{
  min-height:400px;
  background:url('showcase1.jpg') no-repeat 0 -140px;
  text-align:center;
  color:#ffffff;
}

#body2 h1{
  margin-top:20px;
  font-size:55px;
  margin-bottom:20px;
}

#body2 p{
  font-size:20px;
}

#message{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#message h1{
  text-align: center;
}

span.a {

    text-align: center;
    width: 20%;
    height: 5vh;
    margin-top: 3vw;
}

b {
    font-size: 18px;
}

strong {
    font-size: 20px;
    color: #00cc00
}

footer{
  padding:20px;
  margin-top:0;
  color:#ffffff;
  background-color:#00cc00;
  text-align: center;
}

#totals td:last-child{
                         cursor: pointer;
                         font-weight: bold;
                         text-decoration: underline;
                         text-align:center;
                     }

.green_button{
                background: none repeat scroll 0 0 #00e600;
                border: medium none;
                border-radius: 0.3em;
                color: #FFFFFF;
                cursor: pointer;
                font-weight: bold;
                margin: 10px 0 5px 30px;
                padding: 7px 14px;
              }

.frms input[type="text"], [type="password"], [type="file"], textarea, select {
                background: none repeat scroll 0 0 #fff;
                border: 1px solid #ddd;
                border-radius: 0.35em;
                height: 35px;
                margin-bottom: 15px;
                margin-top: 20px;
                padding: 0 0.2%;
                width: 99%;
}
.resp_code {
                background: none repeat scroll 0 0 #f8f8f8;
                border: 1px solid #ddd;
                border-radius: 0.25em;
                color: #333;
                font: 1em/1.3em Tahoma,Geneva,sans-serif;
                margin: 20px 5px 15px 20%;
                overflow: auto;
                padding: 10px 20px;
                width:50%;
}

@media only screen and (max-width:650px) {.resp_code {margin: 5px 1px 10px !important;width:auto !important;}
}
